* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}

input:is(:focus,:valid) {
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}


.swal-modal{
    width: 420px;
    height: auto;
    border: 1px solid rgba(6,74,76,0.18);
    border-radius: 6px;
}

.swal-icon{
    margin: 0px auto;
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.swal-icon:first-child {
    margin-top: 15px;
}

.swal-icon--warning__body{
    /* height: 30px; */
    margin: 5px auto;
    padding: 0;
}

.swal-text{
    padding: 0;
    margin: 5px auto;
}

.swal-title{
    padding: 0;
    margin: 5px auto;
}

.swal-title:not(:last-child) {
    margin-bottom: 0;
}

.swal-footer{
    margin: 5px auto;
    padding-bottom: 5px;
    padding-top: 0;
}

.swal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

@media (max-width: 640px) {
    .swal-modal {
        transform: scale(0.8);
    }
} 
